:root{
    --bg-color-default: #f7e9db;
    --color-primary-red: hsl(10, 79%, 65%);
    --color-primary-cyan: hsl(186, 34%, 60%);
    --color-dark-brown: hsl(25, 47%, 15%);
    --color-medium-brown: hsl(28, 10%, 53%);
    --color-cream: hsl(27, 66%, 92%);
    --color-pale-orange: hsl(33, 100%, 98%);
    --font-size-default: 18px;
}

body{
    margin: 0;
    font-size: var(--font-size-default);
    font-family: 'DM Sans', sans-serif;
}

/*Feel free to remove these styles or customise in your own stylesheet 👍*/
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}